* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-teal-1: rgb(228, 246, 244);
    --color-teal-2: rgb(0, 182, 180);
    --color-blue-tel: rgb(33, 52, 66);
    --color-dark-blue: rgb(0, 83, 95);
    --border: 1px solid rgb(167, 180, 179);

}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
/* ! start header */
.container-header {
    width: 90%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.container-header .navbar {
    display: flex;
    gap: 20px;
}

.container-header .navbar .list-nav {
    list-style: none;
}

.link-nav {
    text-decoration: none;
    color: rgb(33, 52, 66);
}

.list-nav i {
    margin-left: 10px;
    font-size: 13px;
}

.btn-visit {
    position: relative;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: var(--color-teal-2);
    overflow: hidden;
}

.btn-visit::before {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.btn-visit::after {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #009999;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.btn-visit:hover::before {
    transform: translateY(100%);
}

.btn-visit:hover::after {
    transform: translateY(0);
}

/* ! end header */

/* ? start HERO section  */
/* .hero-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.header-hero {
    background-color: var(--color-teal-2);
    text-align: center;
    padding: 80px 20px;
    /* position: relative; */
}

.header-hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-blue-tel);
}

.box-hero {
    font-size: 14px;
    /* color: var(--text-muted); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.box-hero a {
    text-decoration: none;
    color: rgb(50, 56, 56);
}

.box-hero i {
    color: rgb(50, 56, 56);
    font-size: 12px;

}

/* ?   */
.about-main {
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-images {
    position: relative;
    height: 450px;
}

.image-frame {
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-large {
    width: 75%;
    height: 85%;
    top: 0;
    left: 0;
    z-index: 1;
}

.frame-small {
    width: 50%;
    height: 65%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.about-content span {
    color: var(--color-teal-2);
    font-size: 20px;
    font-weight: 700;
}

.about-content h2 {
    font-size: 42px;
    line-height: 1.2;
    margin: 20px 0px;
    color: var(--color-blue-tel);
}

.about-content p {
    color: rgb(163, 170, 182);
    font-size: 19px;
    line-height: 2;
    margin-bottom: 30px;
}

/* !start expertise */
.expertise {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-expertise {
    width: 90%;
}

.container-expertise h2 {
    margin-bottom: 20px;

}

.skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-info span {
    color: var(--color-dark-blue);

}


.progress-bar {
    width: 100%;
    background-color: grey;
    max-width: 500px;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 6px;
    background-color: var(--color-teal-2);
    transition: width 0.4s ease-in-out;
}

.pro-1 {
    width: 95%;
}

.pro-2 {
    width: 90%;
}

.pro-3 {
    width: 85%;
}

.pro-4 {
    width: 80%;
}

.pro-5 {
    width: 75%;
}

.pro-6 {
    width: 92%;
}

/* ?end hero section */

/* --- DOCTORS SECTION --- */
.doctors-section {
    padding: 100px 0px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-teal-1);
}

.text-center {
    width: 40%;
    text-align: center;
}

.text-center span {
    color: var(--color-teal-2);
    font-size: 25px;
    font-weight: 600;
}

.text-center h2 {
    font-size: 40px;
    line-height: 1.4;
    margin: 40px 0px;
    color: var(--color-blue-tel);
}

.container-doctors {
    width: 90%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    position: relative;

}

.doctor-card {
    width: 100%;
    height: 230px;
    background: #5ecece;
    border-radius: 16px;
    text-align: center;
    transition: transform 0.3s;
}

.doctor-card:hover {
    transform: translateY(-5px);
}

.doctor-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    position: relative;
}

.doctor-img img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    position: absolute;
    top: -21%;
    left: 20%;
    z-index: 1;
}

.doctor-card h3 {
    color: var(--color-blue-tel);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.doctor-card p {
    color: rgb(151, 168, 168);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.doctor-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.doctor-socials a {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    text-decoration: none;
    /* border: 1px solid #dcdcdc; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--primary-color);
    background-color: white;

    i {
        color: #009999;
    }

}

.doctor-socials a:hover {
    background-color: var(--color-teal-2);
    color: white;
    border-color: var(--primary-color);

    i {
        color: white;
    }
}

/*? STATS SECTION  */
.stats-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    /* padding: 40px 20px 60px 20px; */
}

.container-stats {
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.stat-item h2 {
    font-size: 42px;
    color: var(--color-dark-blue);
    font-weight: 700;
    margin-bottom: 10px;
}

.stat-item p {
    color: rgb(134, 140, 150);
    font-size: 16px;
    font-weight: 500;
}

.container-two {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: var(--color-teal-2);
}

.container-btn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;

    a {
        border: 0.5px solid white;
    }
}

/* ?start FOOTER */
.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-dark-blue);
    color: rgba(255, 255, 255, 0.7);
    padding: 70px 0px 30px 0px;
    font-size: 16px;
}

.container-footer {
    width: 90%;

    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.6fr 1.2fr;
    gap: 20px;

}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-brand .logo {
    color: white;
    /* margin-bottom: 40px; */
    text-decoration: none;
    font-size: 30px;
}

.footer-brand .logo i {
    color: var(--color-teal-2);
    font-size: 30px;
}

.footer-brand p {
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-teal-1);
    scale: 1.7;
}

.footer-col h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-links li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: var(--color-teal-2);
}

.footer-contact {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
}

.contact-item i {
    color: var(--color-teal-2);
    margin-top: 4px;
}

.contact-label {
    color: white;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 30px;
}

.container-footer-bottom {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

}

.footer-bottom-links {
    display: flex;
    gap: 25px;
    font-size: 16px;
}

.footer-bottom-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-bottom-links a:hover {
    color: var(--color-teal-2);
    text-decoration: none;
}

.btn-arrow-top {
    padding: 15px;
    background-color: var(--color-teal-2);
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.arrow-top {
    font-size: 20px;
    color: white;
}

/* ?End FOOTER */