* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-teal-1: rgb(228, 246, 244);
    --color-teal-2: rgb(0, 182, 180);
    --color-blue-tel: rgb(33, 52, 66);
    --color-dark-blue: rgb(0, 83, 95);
    --border: 1px solid rgb(167, 180, 179);

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ! start header */
.container-header {
    width: 90%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.container-header .navbar {
    display: flex;
    gap: 20px;
}

.container-header .navbar .list-nav {
    list-style: none;
}

.link-nav {
    text-decoration: none;
    color: rgb(33, 52, 66);
}

.list-nav i {
    margin-left: 10px;
    font-size: 13px;
}
.dorp-list {
    display: block;
    position: relative;
}

.dropdown-menu {
    list-style: none;
    background-color: white;
    border: var(--border);
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    display: none;
    z-index: 100;

    li {
        margin-top: 10px;
    }
}

.dorp-list:hover .dropdown-menu {
    display: block;
}

.btn-visit {
    position: relative;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: var(--color-teal-2);
    overflow: hidden;
}

.btn-visit::before {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.btn-visit::after {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #009999;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.btn-visit:hover::before {
    transform: translateY(100%);
}

.btn-visit:hover::after {
    transform: translateY(0);
}

/* ! end header */
/* todo start hero section */
.main {
    width: 100%;

}

.section-contact {
    width: 100%;
}

.header-hero {
    width: 100%;
    background-color: var(--color-teal-1);
    text-align: center;
    padding: 80px 20px;
    /* position: relative; */
}

.header-hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-blue-tel);
}

.box-hero {
    font-size: 14px;
    /* color: var(--text-muted); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.box-hero a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(64, 77, 77);
}

.box-hero i {
    color: rgb(50, 56, 56);
    font-size: 12px;

}

/* todo end hero section */
/* ?start section contact*/
.section-conatct {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-contact {
    width: 90%;
    padding: 50px;
    display: grid;
    gap:
        20px;
    grid-template-columns: repeat(2, 1fr);
}

.box-left {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);

}

.city h4 {
    color: var(--color-dark-blue);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.city p {
    color: rgb(161, 152, 161);
    font-size: 16px;
    line-height: 2;
}

.box-right {
    display: flex;
}

.container-form {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

.field-set {

    width: 100%;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(219, 219, 213);
    border-radius: 10px;
    background-color: rgb(248, 248, 247);
    outline: none;
    font-size: 18px;
}

.btn-form {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: var(--color-teal-2);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/* ?End section contact*/
/* ?start FOOTER */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-dark-blue);
    color: rgba(255, 255, 255, 0.7);
    padding: 70px 0px 30px 0px;
    font-size: 16px;
}

.container-footer {
    width: 90%;

    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.6fr 1.2fr;
    gap: 20px;

}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-brand .logo {
    color: white;
    /* margin-bottom: 40px; */
    text-decoration: none;
    font-size: 30px;
}

.footer-brand .logo i {
    color: var(--color-teal-2);
    font-size: 30px;
}

.footer-brand p {
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-teal-1);
    scale: 1.7;
}

.footer-col h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-links li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: var(--color-teal-2);
}

.footer-contact {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
}

.contact-item i {
    color: var(--color-teal-2);
    margin-top: 4px;
}

.contact-label {
    color: white;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 30px;
}

.container-footer-bottom {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

}

.footer-bottom-links {
    display: flex;
    gap: 25px;
    font-size: 16px;
}

.footer-bottom-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-bottom-links a:hover {
    color: var(--color-teal-2);
    text-decoration: none;
}

.btn-arrow-top {
    padding: 15px;
    background-color: var(--color-teal-2);
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.arrow-top {
    font-size: 20px;
    color: white;
}


/* ?End FOOTER */
/* ! responsive tablet */