* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-teal-1: rgb(228, 246, 244);
    --color-teal-2: rgb(0, 182, 180);
    --color-blue-tel: rgb(33, 52, 66);
    --color-dark-blue: rgb(0, 83, 95);
    --border: 1px solid rgb(167, 180, 179);

}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* ! start header */
.container-header {
    width: 90%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.container-header .navbar {
    display: flex;
    gap: 20px;
}

.container-header .navbar .list-nav {
    list-style: none;
}

.link-nav {
    text-decoration: none;
    color: rgb(33, 52, 66);
}

.list-nav i {
    margin-left: 10px;
    font-size: 13px;
}

.dorp-list {
    display: block;
    position: relative;
}

.dropdown-menu {
    list-style: none;
    background-color: white;
    border: var(--border);
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    display: none;
    z-index: 100;

    li {
        margin-top: 10px;
    }
}

.dorp-list:hover .dropdown-menu {
    display: block;
}

.btn-visit {
    position: relative;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: var(--color-teal-2);
    overflow: hidden;
}

.btn-visit::before {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.btn-visit::after {
    content: "Book Your Visit";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #009999;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.btn-visit:hover::before {
    transform: translateY(100%);
}

.btn-visit:hover::after {
    transform: translateY(0);
}

/* ! end header */
/* ? start HERO section  */
.main {
    width: 100%;

}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-hero {
    background-color: rgb(229, 248, 247);
    text-align: center;
    padding: 80px 20px;
    width: 100%;
}

.header-hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box-hero {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.box-hero a {
    text-decoration: none;
    color: rgb(50, 56, 56);
}

.box-hero i {
    color: rgb(50, 56, 56);
    font-size: 12px;

}

/* ?end hero section */
/* !start section doctors */
.section-doctors {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-doctors {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 100px 0px;
}

.card-doctor {
    padding: 40px 30px;
    border-radius: 20px;
    border: var(--border);
}

.box-doctor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-image-doc {
    display: flex;
    justify-content: space-between;
}

.image-doc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-doc .info-doctor h4 {
    color: var(--color-dark-blue);
    margin-bottom: 10px;
}

.image-doc .info-doctor span {
    color: rgb(132, 146, 186);
}

.image-doc .img-doc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-google {
    width: 50px;
    height: 50px;
}

.doctor-stars {
    display: flex;
    gap: 5px;
    color: rgb(242, 184, 39);
}

.paragraphe-card-doc {
    font-size: 16px;
    color: rgb(132, 146, 186);
    line-height: 1.6;

}

/* !end section doctors */


/* ?start section clear vision */
.container-two {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: var(--color-teal-2);
}

.container-btn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;

    a {
        border: 0.5px solid white;
    }
}

/* ?end section clear vision */

/* ?start FOOTER */
.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-dark-blue);
    color: rgba(255, 255, 255, 0.7);
    padding: 70px 0px 30px 0px;
    font-size: 16px;
}

.container-footer {
    width: 90%;

    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.6fr 1.2fr;
    gap: 20px;

}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-brand .logo {
    color: white;
    /* margin-bottom: 40px; */
    text-decoration: none;
    font-size: 30px;
}

.footer-brand .logo i {
    color: var(--color-teal-2);
    font-size: 30px;
}

.footer-brand p {
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-teal-1);
    scale: 1.7;
}

.footer-col h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-links li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: var(--color-teal-2);
}

.footer-contact {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
}

.contact-item i {
    color: var(--color-teal-2);
    margin-top: 4px;
}

.contact-label {
    color: white;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 30px;
}

.container-footer-bottom {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;

}

.footer-bottom-links {
    display: flex;
    gap: 25px;
    font-size: 16px;
}

.footer-bottom-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-bottom-links a:hover {
    color: var(--color-teal-2);
    text-decoration: none;
}

.btn-arrow-top {
    padding: 15px;
    background-color: var(--color-teal-2);
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.arrow-top {
    font-size: 20px;
    color: white;
}

/* ?End FOOTER */